@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato&family=Source+Sans+Pro:wght@400;600&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .tag-sm {
    @apply px-2 mr-2 py-1 bg-informational uppercase text-sm text-white uppercase;
  }

  .markdown h1 {
    @apply text-4xl font-bold leading-tight font-IBM-plex-sans;
  }
  
  .markdown h2 {
    @apply max-w-175 text-3xl font-semibold mt-6 font-IBM-plex-sans;
  }

  .markdown h3 {
    @apply max-w-175 mt-6 font-semibold text-md font-IBM-plex-sans;
  }

  .markdown a {
    @apply text-blue-300 font-IBM-plex-sans;
  }
  
  .markdown a:hover {
    @apply underline;
  }

  .markdown blockquote {
    @apply max-w-175 text-base-vw mt-6 italic font-medium pl-8 border-l-2 border-matrix-blue font-IBM-plex-sans;
  }

}

@layer utilities {
  @variants responsive {
    .full-width {
      margin-left: 0;
      margin-right: 0;
    }
    @media (min-width: 1152px) {
      .full-width {
        margin-left: calc(-99vw / 2 + 1152px / 2);
        margin-right: calc(-99vw / 2 + 1152px / 2);
      }
    }
    .text-shadow {
      text-shadow: 0 2px 4px rgba(0,0,0,0.10);
    }
  
    .text-shadow-md {
      text-shadow: 0 4px 8px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.08);
    }
  
    .text-shadow-lg {
      text-shadow: 0 0 0 rgba(0,0,0,0.50), 0 0 0 #000, 0 0 0 rgba(0,0,0,0.50);
    }
  
    .text-shadow-none {
      text-shadow: none;
    }
    
  }
  .heading-1 {
    font-size: 36px;
    line-height: 47px;
  }
  .heading-2 {
    font-size: 30px;
    font-weight: light;
    line-height: 39px;
  }
  .heading-3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 27px;
  }
  .heading-4 {
    font-size: 18px;
    line-height: 23px;
  }
  .heading-5 {
    font-size: 14px;
    line-height: 18px;
  }
  .heading-6 {
    font-size: 12px;
    line-height: 15px;
  }
  .btn-xs {
    padding: 4px 19px;
    border-radius: 4px;
    font-size: 0.8rem;
  }
  .btn-sm {
    padding: 10px 17px;
    border-radius: 4px;
  }
  .btn-md {
    height: 30px;
    padding: 6px 19px;
    border-radius: 4px;
    font-size: 14px;
  }
  .btn-lg {
    padding: 13px 0;
    border-radius: 4px;
    font-size: 14px;
  }
  .btn-xl {
    padding: 21px 89px;
    border-radius: 4px;
  }
}