<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu">
  <div class="user-box">
    <div class="float-left">
      <img
        src="assets/images/users/avatar-1.jpg"
        alt=""
        class="avatar-md rounded-circle"
      />
    </div>
    <div class="user-info">
      <a href="#">Stanley Jones</a>
      <p class="text-muted m-0">Administrator</p>
    </div>
  </div>

  <!--- Sidemenu -->
  <div id="sidebar-menu">
    <ul class="metismenu" id="side-menu">
      <li class="menu-title">Navigation</li>

      <li>
        <a href="#">
          <i class="ti-home"></i>
          <span> Dashboard </span>
        </a>
      </li>

      <li>
        <a href="#">
          <i class="ti-paint-bucket"></i>
          <span> UI Elements </span>
          <span class="badge badge-primary float-right">11</span>
        </a>
      </li>

      <li>
        <a href="#">
          <i class="ti-light-bulb"></i>
          <span> Components </span>
          <span class="menu-arrow"></span>
        </a>
        <ul class="nav-second-level" aria-expanded="false">
          <li><a href="#">Range Slider</a></li>
          <li><a href="#">Alerts</a></li>
          <li><a href="#">Icons</a></li>
          <li><a href="#">Widgets</a></li>
        </ul>
      </li>

      <li>
        <a href="#">
          <i class="ti-spray"></i>
          <span> Typography </span>
        </a>
      </li>

      <li>
        <a href="#">
          <i class="ti-pencil-alt"></i>
          <span> Forms </span>
          <span class="menu-arrow"></span>
        </a>
        <ul class="nav-second-level" aria-expanded="false">
          <li><a href="#">General Elements</a></li>
          <li><a href="#">Advanced Form</a></li>
        </ul>
      </li>

      <li>
        <a href="#">
          <i class="ti-menu-alt"></i>
          <span> Tables </span>
          <span class="menu-arrow"></span>
        </a>
        <ul class="nav-second-level" aria-expanded="false">
          <li><a href="#">Basic Tables</a></li>
          <li><a href="#">Advanced Tables</a></li>
        </ul>
      </li>

      <li>
        <a href="#">
          <i class="ti-pie-chart"></i>
          <span> Charts </span>
          <span class="badge badge-primary float-right">5</span>
        </a>
      </li>

      <li>
        <a href="#">
          <i class="ti-location-pin"></i>
          <span> Maps </span>
        </a>
      </li>

      <li>
        <a href="#">
          <i class="ti-files"></i>
          <span> Pages </span>
          <span class="menu-arrow"></span>
        </a>
        <ul class="nav-second-level" aria-expanded="false">
          <li><a href="#">Login</a></li>
          <li><a href="#">Register</a></li>
          <li><a href="#">Forget Password</a></li>
          <li><a href="#">Lock-screen</a></li>
          <li><a href="#">Blank page</a></li>
          <li><a href="#">Error 404</a></li>
          <li><a href="#">Confirm Mail</a></li>
          <li><a href="#">Session Expired</a></li>
        </ul>
      </li>

      <li>
        <a href="#">
          <i class="ti-widget"></i>
          <span> Extra Pages </span>
          <span class="menu-arrow"></span>
        </a>
        <ul class="nav-second-level" aria-expanded="false">
          <li><a href="#">Timeline</a></li>
          <li><a href="#">Invoice</a></li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">Calendar</a></li>
          <li><a href="#">FAQs</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Contacts</a></li>
        </ul>
      </li>

      <li>
        <a href="#">
          <i class="ti-layout"></i>
          <span> Layouts </span>
          <span class="badge badge-danger badge-pill float-right">New</span>
        </a>
        <ul class="nav-second-level" aria-expanded="false">
          <li><a href="#">Horizontal</a></li>
          <li><a href="#">Topbar Dark</a></li>
        </ul>
      </li>

      <li>
        <a href="#">
          <i class="ti-share"></i>
          <span> Multi Level </span>
          <span class="menu-arrow"></span>
        </a>
        <ul class="nav-second-level nav" aria-expanded="false">
          <li>
            <a href="#">Level 1.1</a>
          </li>
          <li>
            <a href="#" aria-expanded="false"
              >Level 1.2
              <span class="menu-arrow"></span>
            </a>
            <ul class="nav-third-level nav" aria-expanded="false">
              <li>
                <a href="#">Level 2.1</a>
              </li>
              <li>
                <a href="#">Level 2.2</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <!-- End Sidebar -->

  <div class="clearfix"></div>
</div>
<!-- Left Sidebar End -->
