html, body {
  height: 100%;
}

body {
  margin: 0 30px;
  padding-bottom: 62px;
  overflow-x: hidden;
}

.header {
  padding: 1px 0 30px;
  white-space: nowrap;
  overflow: hidden;
}

.subheader {
  position: absolute;
  top: -35px;
  width: 100%;
}

.content {
  height: 100%;
}

#permalink {
  float: right;
}

.src {
  margin-right: 15px; 
}

.src, .preview {
  width: 49%;
  position: relative;
  float: left;
  height: 100%;
}

.src .CodeMirror {
  background-color: #fffffb;
  border: 1px solid #888;
  border-radius: 3px;
  box-shadow: 0 0 3px #ccc inset;
}

.preview .CodeMirror {
  background-color: #F8F8F8;
  border: 1px solid #eee;
  border-radius: 3px;
}

/*.CodeMirror-scroll {
  height: 500px;
  line-height: 1.2;
}*/

.CodeMirror {
  height: 100%;
  font-size: 13px;
}

.CodeMirror .cm-comment {
  color: #baa;
}

.cm-s-default .cm-header {
  color: blue;
}

.cm-s-default .cm-quote {
  color: #090;
}

.cm-negative {
  color: #d44;
}

.cm-positive {
  color: #292;
}

.cm-header, .cm-strong {
  font-weight: bold;
}

.cm-em {
  font-style: italic;
}

.cm-link {
  text-decoration: underline;
}

.cm-strikethrough {
  text-decoration: line-through;
}

.cm-s-default .cm-keyword {
  color: #708;
}

.cm-s-default .cm-atom {
  color: #219;
}

.cm-s-default .cm-number {
  color: #164;
}

.cm-s-default .cm-def {
  color: #00f;
}

.cm-s-default .cm-variable-2 {
  color: #05a;
}

.cm-s-default .cm-variable-3, .cm-s-default .cm-type {
  color: #085;
}

.cm-s-default .cm-comment {
  color: #a50;
}

.cm-s-default .cm-string {
  color: #a11;
}

.cm-s-default .cm-string-2 {
  color: #f50;
}

.cm-s-default .cm-meta {
  color: #555;
}

.cm-s-default .cm-qualifier {
  color: #555;
}

.cm-s-default .cm-builtin {
  color: #30a;
}

.cm-s-default .cm-bracket {
  color: #997;
}

.cm-s-default .cm-tag {
  color: #170;
}

.cm-s-default .cm-attribute {
  color: #00c;
}

.cm-s-default .cm-hr {
  color: #999;
}

.cm-s-default .cm-link {
  color: #00c;
}

.cm-s-default .cm-error {
  color: #f00;
}

.cm-invalidchar {
  color: #f00;
}

.gh-ribbon {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #686868;
    box-shadow: 0 0 2px rgba(102, 102, 102, 0.4);
    display: block;
    padding: 1px 0;
    position: fixed;
    right: -60px;
    top: 44px;
    width: 230px;
    z-index: 10000;
}
.gh-ribbon a {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    border: 1px solid #AAAAAA;
    color: #FFFFFF;
    display: block;
    font-size: 13px;
    font-weight: 700;
    outline: medium none;
    padding: 4px 50px 2px;
    text-align: center;
    text-decoration: none;
}
.csstransforms .gh-ribbon {
    display: block;
}
